<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gemframe.business.dao.GemRoleMapper">
	<resultMap id="BaseResultMap" type="cn.gemframe.business.domain.GemRole">
		<id column="id" property="id" />
		<result column="create_time" property="createDate" />
		<result column="update_time" property="updateDate" />
		<result column="role_name" property="name" />
		<result column="role_code" property="code" />
		<result column="role_sort" property="sortNumber" />
		<result column="role_groupId" property="groupId" />
		<result column="role_cause" property="cause" />
	</resultMap>
	<select id="findRoleByUser" parameterType="map" resultMap="BaseResultMap">
	  SELECT
	      dtr.*
	  FROM
	      gem_tab_role dtr,gem_tab_user_role dtur
	  WHERE
	      dtr.id=dtur.role_id AND dtur.user_id=#{id}
	</select>

	<select id="findRoleIdsByUser" parameterType="map" resultType="long">
	  SELECT
	      dtr.id
	  FROM
	      gem_tab_role dtr,gem_tab_user_role dtur
	  WHERE
	      dtr.id=dtur.role_id AND dtur.user_id=#{id}
	</select>

</mapper>