<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gemframe.business.dao.GemUserMapper">
	<resultMap id="BaseResultMap" type="cn.gemframe.business.domain.GemUser">
		<id column="id" property="id" />
		<result column="create_time" property="createDate" />
		<result column="update_time" property="updateDate" />
		<result column="user_name" property="userName" />
		<result column="pass_word" property="passWord" />
		<result column="member_name" property="memberName" />
		<result column="states" property="states" />
		<result column="descri" property="descri" />
		<result column="valid_time" property="validTime" />
		<result column="failure_time" property="failureTime" />
		<result column="phone" property="phone" />
		<result column="member_id" property="memberId" />
		<result column="login_time" property="loginTime" />
	</resultMap>
	<select id="findUserList" parameterType="map" resultMap="BaseResultMap">
	    SELECT * FROM gem_tab_user uer,gem_tab_member member WHERE uer.member_id=member.id
	</select>

    <select id="findUserListByRoleId" parameterType="map" resultType="cn.gemframe.business.domain.GemUser">
       SELECT
           dtu.id id,
           dtu.email email,
           dtu.member_name memberName,
           dtu.user_name userName,
           phone phone
       FROM
           gem_tab_user dtu,gem_tab_user_role dtur,gem_tab_role dtr
       WHERE
           dtr.id=dtur.role_id AND dtur.user_id=dtu.id AND dtr.id=#{roleId}
    </select>
</mapper>